.navbar {
  background-color: burlywood;
  height: 180px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: +1;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.navenlace {
  color: whitesmoke;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 3px;
}

.navlista {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.navitem {
  font-size: 22px;
  margin: 0px 60px;
  line-height: 120px;
  text-transform: uppercase;
  width: max-content;
}

.navenlace:hover {
  background-color: goldenrod;
  transition: 0.5s;
}
